<%- model_class = User.new.class -%>
<h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>

<%= will_paginate @users %>

<table class="table table-striped table-bordered centered">
  <thead>
    <tr>
      <th></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= gravatar_for user, :size => 30 %></td>
        <td><%= user.name %></td>
        <td><%= user.created_at.strftime("%d/%m/%Y at %H:%M") %></td>
        <td class='left'>
          <%= link_to raw("<i class='icon-eye-open'></i> #{t('.view', :default => t("helpers.links.view"))}"),
                      user_path(user), :class => 'btn btn-mini' %>

          <% # if current_user?(user) || current_user.has_role?(:admin) %>
            <%= link_to raw("<i class='icon-leaf'></i> VK accounts (#{user.accounts.count})"),
                        user_accounts_path(user),
                        :class => 'btn btn-mini btn-info' %>
            <%= link_to raw("<i class='icon-fire'></i> Bots (#{user.bots.count})"),
                        user_bots_path(user),
                        :class => 'btn btn-mini btn-info' %>
          <% # end %>

          <% # if current_user.has_role?(:admin) && !user.has_role?(:admin) %>
          <%= link_to raw("<i class='icon-pencil'></i> #{t('.edit', :default => t("helpers.links.edit"))}"),
                      edit_user_path(user), :class => 'btn btn-mini' %>
          <%= link_to raw("<i class='icon-trash'></i> #{t('.destroy', :default => t("helpers.links.destroy"))}"),
                      user_path(user),
                      :method => :delete,
                      :confirm => t("helpers.links.confirm", :default => 'Are you sure?'),
                      :class => 'btn btn-mini btn-danger' %>
          <% # end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @users %>

<% # if current_user.has_role?(:admin) %>
  <%= link_to t('.new', :default => t("helpers.links.new")),
            new_user_path,
            :class => 'btn btn-primary' %>
<% # end %>
