<%- model_class = @user.class -%>
<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>

<br />

<% # if current_user?(@user) || current_user.admin? %>
  <p>
    <strong><%= model_class.human_attribute_name(:email) %>:</strong>
    <%= @user.email %>
  </p>
  <%= link_to raw("<i class='icon-leaf'></i> VK accounts (#{@user.accounts.count})"),
              user_accounts_path(@user),
              :class => 'btn btn-info' %>

  <%= link_to raw("<i class='icon-fire'></i> Bots (#{@user.bots.count})"),
              user_bots_path(@user),
              :class => 'btn btn-info' %>
<% # end %>

<% # if current_user?(@user) || current_user.admin? && !@user.admin? %>
  <%= link_to raw("<i class='icon-pencil'></i> #{t('.edit', :default => t("helpers.links.edit"))}"),
              edit_user_path(@user), :class => 'btn' %>
<% # end %>

<% # if current_user.admin? && !@user.admin? %>
  <%= link_to raw("<i class='icon-trash'></i> #{t('.destroy', :default => t("helpers.links.destroy"))}"),
              user_path(@user),
              :method => 'delete',
              :confirm => t("helpers.links.confirm", :default => 'Are you sure?'),
              :class => 'btn btn-danger' %>
<% # end %>
