<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= @user.name %><br />
      <strong>URL</strong> <%= link_to user_path(@user), @user %><br />
      <% if current_user?(@user) || current_user.admin? %>
        <strong>Bots</strong> <%= link_to @user.bots.count, :controller => 'bots', :action => 'index', :id => @user.id %>
      <% end %>
    </td>
  </tr>
</table>