<% @user        = User.find(params[:user_id]) %>
<% @account_id  = params[:account_id] %>

<% @form_bot_path = @account_id.nil? ? create_bot_path(@user.id)          : create_user_account_bot_path(@user.id, @account_id) %>
<% @form_bot_path = @account_id.nil? ? update_bot_path(@user.id, @bot.id) : update_user_account_bot_path(@user.id, @account_id, @bot.id) if @bot.id %>

<%= form_for @bot, :url => @form_bot_path, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @bot.errors.any? %>
    <div class='alert alert-error'>
      <h2><%= pluralize(@bot.errors.count, 'error') %>:</h2>
      <p>There were problems with the following fields:</p>
      <ul>
      <% @bot.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="control-group">
    <%= f.label :account, :class => 'control-label required' %>
    <div class="controls">
      <%= f.select :account_id, [['--select--', nil]] + @user.accounts.to_a.map { |account| [account.username + " (" + account.link + ")", account.id] }, :selected => @account_id || @bot.account_id %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :bot_type, :class => 'control-label required' %>
    <div class="controls">
      <%= f.select :bot_type, { 'group' => 'group', 'discussion' => 'discussion'} %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :page, :class => 'control-label required' %>
    <div class="controls">
      <%= f.text_field :page, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :page_title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :page_title, :class => 'text_field' %>
    </div>
  </div>
  <% if current_user.has_role?(:admin) %>
	  <div class="control-group">
		<%= f.label :page_hash, :class => 'control-label' %>
		<div class="controls">
		  <%= f.text_field :page_hash, :class => 'text_field' %>
		</div>
	  </div>
  <% end %>
  <div class="control-group">
    <%= f.label :message, :class => 'control-label required' %>
    <div class="controls">
      <%= f.text_area :message, :class => 'text_area', :rows => 10 %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :interval, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :hours, [['none', 0]] + (1..24).to_a.map { |s| [pluralize(s, 'hour'), s] } %>
      <%= f.select :minutes, [['none', 0]] + (1..60).to_a.map { |s| [pluralize(s, 'minute'), s] } %>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  @account_id.nil? ? user_bots_path(@user.id) : user_account_bots_path(@user.id, @account_id), :class => 'btn' %>
    </div>
  </div>
<% end %>
