<script>
  debug_row_counter = 1;
  function run(id) {
    bot_debug_div = $('#bot_debug');
    $.post('/run', { id : id }, function(result){
      if (result.state == 'login_ip_error') {
        var phone = prompt('Input your last four phone number digits:')
        if (phone != null) {
          $.post('/run', { id : id, phone : phone }, function(result){
            bot_debug_div.html(debug_row_counter + ': ' + result.state + '<br />' + bot_debug_div.html());
          });
        }
      } else {
        bot_debug_div.html(debug_row_counter + ': ' + result.state + '<br />' + bot_debug_div.html());
      }
      debug_row_counter += 1;
    });
  }

  function stop(id) {}
</script>
<h1><%= @title %></h1>

<table>
  <tr>
    <th>Email/Phone</th>
    <th>Bot type</th>
    <th>Page</th>
    <th>Count</th>
    <th>Interval</th>
    <th>State</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @user = params[:id] ? User.find(params[:id]) : current_user %>
<% @bots.each do |bot| %>
  <tr>
    <td><%= bot.email %></td>
    <td><%= bot.bot_type %></td>
    <td><%= bot.page %></td>
    <td><%= bot.count %></td>
    <td><%= bot.interval %></td>
    <td><%= bot.state %></td>
    <% if @user && !@user.admin? && current_user.admin? || current_user?(@user) %>
      <td><%= link_to 'Run', '#', :onclick => 'run("' + bot.id.to_s + '"); return false;' %></td>
      <td><%= link_to 'Stop', '#', :onclick => 'stop("' + bot.id.to_s + '"); return false;' %></td>
      <td><%= link_to 'Show', bot %></td>
      <td><%= link_to 'Edit', edit_bot_path(bot) %></td>
      <td><%= link_to 'Destroy', bot, confirm: 'Are you sure?', method: :delete %></td>
    <% end %>
  </tr>
<% end unless @bots.empty? %>
</table>

<% if @user && !@user.admin? && current_user.admin? || current_user?(@user) %>
  <p><%= link_to 'New Bot', :controller => 'bots', :action => 'new', :id => params[:id] || current_user.id %></p>
<% end %>

<div id='bot_debug' style='overflow-y:scroll; height:100px; border:1px solid black;'></div>
