<%- model_class = Bot.new.class -%>
<% @user = params[:user_id] ? User.find(params[:user_id]) : current_user %>

<script>
  $(document).ready(function(){
    debug_row_counter = 1;
    bot_debug_div = $('#bot_debug');
  });

  function print_debug(value) {
    bot_debug_div.html(debug_row_counter + ': ' + value + '<br />' + bot_debug_div.html());
    debug_row_counter += 1;
  }

  function run_all() {
    $('#run_all_btn').toggleClass('disabled');
    $('#run_all_btn').attr('onclick', 'return false;');

    $.post('/run_all', { user_id : <%= @user.id %>}, function(result){
      if (result.states != undefined) {
        if(result.states.length > 0) {
          $.each(result.states, function(index, value){
            print_debug(value);
          });
        } else {
          print_debug('no bots were initialized');
        }
      } else {
        print_debug('spambot error');
      }

      $('#run_all_btn').toggleClass('disabled');
      $('#run_all_btn').attr('onclick', 'run_all(); return false;');
    });
  }

  function run(id) {
    $('#run_' + id + '_btn').toggleClass('disabled');
    $('#run_' + id + '_btn').attr('onclick', 'return false;');

    $.post('/run', { id : id }, function(result){
      print_debug(result.state);
      $('#run_' + id + '_btn').toggleClass('disabled');
      $('#run_' + id + '_btn').attr('onclick', 'run(' + id + '); return false;');
    });
  }

  function stop(id) {}
</script>

<h1><%= raw("#{t('.title', :default => model_class.model_name.human.pluralize)} (#{link_to @user.name, @user})")%> </h1>

<table class="table table-striped table-bordered centered">
  <thead>
    <tr>
      <th>#</th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:bot_type) %></th>
      <th><%= model_class.human_attribute_name(:page) %></th>
      <th><%= model_class.human_attribute_name(:page_hash) %></th>
      <th><%= model_class.human_attribute_name(:message) %></th>
      <th><%= model_class.human_attribute_name(:count) %></th>
      <th><%= model_class.human_attribute_name(:interval) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @bots.each do |bot| %>
      <tr>
        <td><%= bot.id %></td>
        <td><%= bot.email %></td>
        <td><span class="label"><%= bot.bot_type %></span></td>
        <td><%= link_to bot.page, bot.page %></td>
        <td><%= bot.page_hash %></td>
        <td><%= bot.message %></td>
        <td><span class="badge badge-info"><%= bot.count %></span></td>
        <td><span class="badge badge-info"><%= bot.interval %></span></td>
        <td><%= bot.created_at.strftime("%d/%m/%Y") %></td>
        <td class='bots_list_control left'>
          <% if current_user?(@user) || current_user.admin? && !@user.admin? %>
            <%= link_to 'Run',
                        '#',
                        :onclick => 'run("' + bot.id.to_s + '"); return false;',
                        :class => 'btn btn-mini btn-success',
                        :id => 'run_' + bot.id.to_s + '_btn' %>
            <%= link_to raw("<i class='icon-eye-open'></i> #{t('.view', :default => t("helpers.links.view"))}"),
                        bot_path(bot), :class => 'btn btn-mini' %>
            <%= link_to raw("<i class='icon-pencil'></i> #{t('.edit', :default => t("helpers.links.edit"))}"),
                        edit_bot_path(bot), :class => 'btn btn-mini' %>
            <%= link_to raw("<i class='icon-trash'></i> #{t('.destroy', :default => t("helpers.links.destroy"))}"),
                        bot_path(bot),
                        :method => :delete,
                        :confirm => t("helpers.links.confirm", :default => 'Are you sure?'),
                        :class => 'btn btn-mini btn-danger' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @user && !@user.admin? && current_user.admin? || current_user?(@user) %>
  <%= link_to 'Run All',
              '#',
              :onclick => 'run_all(); return false;',
              :class => 'btn btn-success',
              :id => 'run_all_btn' %>
  <%= link_to t('.new', :default => t("helpers.links.new")),
            new_user_bot_path(@user),
            :class => 'btn btn-primary' %>
<% end %>

<br /><br />
<div id='bot_debug' style='overflow-y:scroll; height:100px; border:1px solid black;'></div>