<script>
  debug_row_counter = 1;
  function run(id) {
    bot_debug_div = $('#bot_debug');
    $.post('/run', { id : id }, function(result){
      bot_debug_div.html(debug_row_counter + ': ' + result.state + '<br />' + bot_debug_div.html());
      debug_row_counter += 1;
    });
  }

  function stop(id) {}
</script>
<%- model_class = Bot.new.class -%>
<% @user = params[:user_id] ? User.find(params[:user_id]) : current_user %>

<h1><%= raw("#{t('.title', :default => model_class.model_name.human.pluralize)} (#{link_to @user.name, @user})")%> </h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:bot_type) %></th>
      <th><%= model_class.human_attribute_name(:page) %></th>
      <th><%= model_class.human_attribute_name(:page_hash) %></th>
      <th><%= model_class.human_attribute_name(:message) %></th>
      <th><%= model_class.human_attribute_name(:count) %></th>
      <th><%= model_class.human_attribute_name(:interval) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @bots.each do |bot| %>
      <tr>
        <td><%= bot.id %></td>
        <td><%= bot.email %></td>
        <td><span class="label"><%= bot.bot_type %></span></td>
        <td><%= link_to bot.page, bot.page %></td>
        <td><%= bot.page_hash %></td>
        <td><%= bot.message %></td>
        <td class='center'><span class="badge badge-info"><%= bot.count %></span></td>
        <td class='center'><span class="badge badge-info"><%= bot.interval %></span></td>
        <td class='center'><%= bot.created_at.strftime("%d/%m/%Y") %></td>
        <td class='bots_list_control'>
          <%= link_to 'Run',
                      '#',
                      :onclick => 'run("' + bot.id.to_s + '"); return false;',
                      :class => 'btn btn-mini btn-success' %>
          <%= link_to raw("<i class='icon-eye-open'></i> #{t('.view', :default => t("helpers.links.view"))}"),
                      bot_path(bot), :class => 'btn btn-mini' %>
          <%= link_to raw("<i class='icon-pencil'></i> #{t('.edit', :default => t("helpers.links.edit"))}"),
                      edit_bot_path(bot), :class => 'btn btn-mini' %>
          <%= link_to raw("<i class='icon-trash icon-white'></i> #{t('.destroy', :default => t("helpers.links.destroy"))}"),
                      bot_path(bot),
                      :method => :delete,
                      :confirm => t("helpers.links.confirm", :default => 'Are you sure?'),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @user && !@user.admin? && current_user.admin? || current_user?(@user) %>
  <%= link_to t('.new', :default => t("helpers.links.new")),
            new_user_bot_path(@user),
            :class => 'btn btn-primary' %>
<% end %>

<br /><br />
<div id='bot_debug' style='overflow-y:scroll; height:100px; border:1px solid black;'></div>