<br/>
<p>
  <b>Email/Phone:</b>
  <%= @bot.email %>
</p>

<p>
  <b>Bot type:</b>
  <%= @bot.bot_type %>
</p>

<p>
  <b>Page:</b>
  <%= @bot.page %>
</p>

<p>
  <b>Page hash:</b>
  <%= @bot.page_hash %>
</p>

<p>
  <b>Message:</b>
  <%= @bot.message %>
</p>

<p>
  <b>Count:</b>
  <%= pluralize(@bot.count, 'time') %>
</p>

<p>
  <b>Interval:</b>
  <%= pluralize(@bot.interval, 'minute') %>
</p>
<%= link_to 'Edit', edit_bot_path(@bot) %> |
<%= link_to 'Back', :controller => 'bots', :action => 'index', :id => @bot.user_id %>
