<%- model_class = @bot.class -%>

<% @user        = User.find(@bot.account.user_id) %>
<% @account_id  = params[:account_id] %>

<p>
  <strong><%= model_class.human_attribute_name(:user_id) %>:</strong>
  <%= link_to @user.name, user_bots_path(@user) %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:bot_type) %>:</strong>
  <%= @bot.bot_type %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:page) %>:</strong>
  <%= link_to @bot.page_title.nil? || @bot.page_title.empty? ? 'N/A' : @bot.page_title, @bot.page %>
</p>
<% if current_user.admin? %>
	<p>
	  <strong><%= model_class.human_attribute_name(:page_hash) %>:</strong>
	  <%= @bot.page_hash %>
	</p>
<% end %>
<p>
  <strong><%= model_class.human_attribute_name(:message) %>:</strong>
  <%= @bot.message %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:interval) %>:</strong>
  <%= @bot.interval %>
</p>

<%= link_to raw("<i class='icon-arrow-left'></i> #{t('.back', :default => t("helpers.links.back"))}"),
            @account_id.nil? ? user_bots_path(@user.id) : user_account_bots_path(@user.id, @account_id), :class => 'btn' %>
<%= link_to raw("<i class='icon-pencil'></i> #{t('.edit', :default => t("helpers.links.edit"))}"),
            @account_id.nil? ? edit_bot_path(@bot) : edit_user_account_bot_path(@user.id, @account_id, @bot.id), :class => 'btn' %>
<%= link_to raw("<i class='icon-trash'></i> #{t('.destroy', :default => t("helpers.links.destroy"))}"),
            @account_id.nil? ? bot_path(@bot) : user_account_bot_path(@user.id, @account_id, @bot.id),
            :method => 'delete',
            :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
            :class => 'btn btn-danger' %>
