<div id="post-header">
  <h1><%= @post.title %></h1>
</div>

<div id="post-content">
  <p><%= @post.content.html_safe %></p>
</div>

<% if can? :manage, @post %>
  <div class="form-actions">
    <%= link_to t('.back', :default => t("helpers.links.back")),
                posts_path, :class => 'btn'  %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_post_path(@post), :class => 'btn' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                post_path(@post),
                :method => 'delete',
                :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                :class => 'btn btn-danger' %>
  </div>
<% end %>
