<div class="navbar-inner">
  <div class="container">

    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>

    <div class="nav-collapse">
      <ul class="nav pull-left">

        <li><%= link_with_icon t('header.home'), root_path, 'home' %></li>

        <% if user_signed_in? %>

          <li><%= link_with_icon ratio_title(:accounts), user_accounts_path(current_user), 'leaf' %></li>

          <li><%= link_with_icon ratio_title(:bots), user_bots_path(current_user), 'fire' %></li>

        <% end %>

        <li><%= link_with_icon t('header.help'), help_path, 'flag' %></li>

      </ul>

      <ul class="nav pull-right">
        <%= render :partial => 'layouts/header_dropdown' %>
      </ul>

    </div>

  </div>
</div>
